
/* Add animated grid lines */

body::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%; 
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 280%;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.5) 4%, transparent 0%, rgba(45, 156, 206, 0.1) 96%),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 4%, transparent 0%, rgba(45, 156, 206, 0.1) 100%);
  background-size: 50px 50px;
  background-position: 1px 1px;
  animation: grid 20s linear infinite;
  transform-origin: 50% 50%;
  pointer-events: none;
}


@keyframes grid {
  0% {
    transform: perspective(500px) rotateX(45deg) translateY(0px);
  }
  100% {
    transform: perspective(500px) rotateX(45deg) translateY(20px);
  }
}